.container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'grid-menu grid-header'
		'grid-menu grid-main';
	height: 100%;

	.grid-menu {
		grid-area: grid-menu;
	}

	.grid-header {
		grid-area: grid-header;
		padding: 20px 15px;
	}

	.grid-main {
		grid-area: grid-main;
		.main {
			padding: 20px;
		}
	}
}
