<!-- <div class="container">
	<div class="grid-menu">
		<nav class="menu">
			<ul class="menu-ul">
				<div class="menu-ul__item">Dashboard</div>
				<div class="menu-ul__item">Productos</div>
				<div class="menu-ul__item">Ventas</div>
			</ul>
		</nav>
	</div>
	<div class="grid-header">
		<header class="header">
			<div>
				<label class="header__title">Hola Renzo Costa</label>
				<p class="header__hour">4:45 pm 21/12/2023</p>
			</div>

			<div class="header-user">
				<div class="header-user-notification">
					<img src="assets/svg/notification.svg" alt="notification" />
				</div>
				<img class="header-user__user" src="assets/user.png" alt="user" />
			</div>
		</header>
	</div>
	<div class="grid-main">
		<main class="main">
			<h1>Contenido</h1>
		</main>
	</div>
</div> -->

<app-container />
