.container {
	background: linear-gradient(35deg, rgba(7, 1, 172, 1) 0%, rgba(235, 70, 252, 1) 100%);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.card {
		width: 500px;

		&__title {
			justify-content: center;
		}

		.form {
			margin-top: 1.5em;
			display: flex;
			flex-direction: column;
		}
	}
}
