$main-family: 'Poppins';
$google-font: 'Roboto', sans-serif;

$main-family-black: '#{$main-family}-Black';
$main-family-black-italic: '#{$main-family}-BlackItalic';
$main-family-bold: '#{$main-family}-Bold';
$main-family-bold-italic: '#{$main-family}-BoldItalic';
$main-family-extra-bold: '#{$main-family}-ExtraBold';
$main-family-extra-bold-italic: '#{$main-family}-ExtraBoldItalic';
$main-family-extra-light: '#{$main-family}-ExtraLight';
$main-family-extra-light-italic: '#{$main-family}-ExtraLightItalic';
$main-family-italic: '#{$main-family}-Italic';
$main-family-light: '#{$main-family}-Light';
$main-family-light-italic: '#{$main-family}-LightItalic';
$main-family-medium: '#{$main-family}-Medium';
$main-family-medium-italic: '#{$main-family}-MediumItalic';
$main-family-regular: '#{$main-family}-Regular';
$main-family-semi-bold: '#{$main-family}-SemiBold';
$main-family-semi-bold-italic: '#{$main-family}-SemiBoldItalic';
$main-family-thin: '#{$main-family}-Thin';
$main-family-thin-italic: '#{$main-family}-ThinItalic';
