<div class="bg-purple">
	<div class="stars">
		<div class="central-body">
			<img class="image-404" src="assets/svg/404.svg" />
			<a routerLink="/" class="btn-go-home">IR AL HOME</a>
		</div>
		<div class="objects">
			<img class="object_rocket" src="assets/svg/rocket.svg" />
			<div class="earth-moon">
				<img class="object_earth" src="assets/svg/earth.svg" />
				<img class="object_moon" src="assets/svg/moon.svg" />
			</div>
			<div class="box_astronaut">
				<img class="object_astronaut" src="assets/svg/astronaut.svg" />
			</div>
		</div>
		<div class="glowing_stars">
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
		</div>
	</div>
</div>
